
body
  font-family: 'Open Sans', sans-serif

.main-content
  background: #fafafa

  .content
    min-height: calc(100vh - 72px)

.container
  min-width: 76%
  max-width: 76%


.post-container
  min-width: 85%
  max-width: 85%

.responsive-img
  max-width: 100%


@media (min-width: 240px)  and (max-width: 549px)
  .container
    min-width: 100%
    max-width: 100%

  .text-center-sm
    text-align: center !important


@media (min-width: 550px) and (max-width: 860px)
  .container
    min-width: 95%
    max-width: 95%

