
body
  font-family: 'Open Sans', sans-serif

.main-content
  background: #fafafa

.container
  min-width: 76%
  max-width: 76%


.post-container
  min-width: 85%
  max-width: 85%

.responsive-img
  max-width: 100%

.button-profile
  background-color: #70c050;
  border-color: #70c050;
  font-weight: 600
  padding: 0.3rem 0.5rem



@media (min-width: 320px)  and (max-width: 549px)
  .container
    min-width: 100%
    max-width: 100%

  .text-center-sm
    text-align: center !important


@media (min-width: 550px) and (max-width: 860px)
  .container
    min-width: 95%
    max-width: 95%

